.hero {
	.container {
		position: relative;
		h1 {
		    margin: 0;
		    font-weight: 700;
		    font-size: 5.6666666667rem;
		    line-height: 6.3333333333rem;
			padding-top: 60px;
			@include columns(16);
			@media (min-width: $screen-sm-min) {
				@include offset(1);
				@include columns(15);
			}
			@media (min-width: $screen-md-min) {
				@include columns(14);
			    font-size: 6.6666666667rem;
			    line-height: 7.3333333333rem;
				padding-top: 90px;
			}
			@media (min-width: $screen-lg-min) {
				@include columns(10);
			}
		}

		h2 {
			padding-top: 40px;
			font-size: 2.6666666667rem;
			line-height: 3.8888888889rem;
			color: $color-lightgrey;
			margin-top: 0;
			@include columns(16);
			@media (min-width: $screen-sm-min) {
				@include offset(1);
				@include columns(15);
			}
			@media (min-width: $screen-md-min) {
				@include columns(10);
			}
			@media (min-width: $screen-lg-min) {
				@include columns(8);
			}
		}
	}
	.background {
		background: url(../images/hero_image.jpg) no-repeat;
		width: 1000px;
		height: 640px;
		position: absolute;
		top: -140px;
		margin-left: -10px;
		@media (min-width: $screen-sm-min) {
			@include offset(3);
		}
	}
}

.intro {
	font-weight: 500;
	font-size: 2.6666666667rem;
	line-height: 3.7777777778rem;
	
	padding-top: 150px;
	@media (min-width: $screen-sm-min) {
		padding-top: 200px;
	}
	@media (min-width: $screen-md-min) {
		padding-top: 250px;
	}
	.inner {
		@include columns(16);
		@media (min-width: $screen-sm-min) {
			@include columns(9);
			@include offset(4);
		}
	}
	h3 {
		color: $color-white;
	}
	p {
		color: $color-darkgrey;
	}
}

.specialise {
	padding-top: 150px;
	@media (min-width: $screen-sm-min) {
		padding-top: 180px;	
	}
	.sentence {
		font-size: 3.1111111111rem;
		line-height: 4.4444444444rem;
		font-weight: 500;
		@include columns(16);
		@media (min-width: $screen-sm-min) {
			@include columns(11);
			@include offset(1);
		}
	}
	.specialties {
		padding-top: 85px;
		.specialty {
			@include columns(16);
			
			@media (min-width: $screen-sm-min) {
				@include columns(8);
				&:nth-child(3){
					clear: left;
				}
			}
			@media (min-width: $screen-md-min) {
				@include columns(4);
				&:nth-child(3){
					clear: none;
				}
			}
			h3 {
				font-size: 2.6666666667rem;
				line-height: 3.7777777778rem;
			}
			p {
				font-size: 2rem;
				line-height: 3.5555555556rem;
				color: $color-lightgrey;
			}
		}
	}
}

.partners {
	padding-top: 50px;
	@media (min-width: $screen-sm-min) {
		padding-top: 100px;
	}
	.container {
		position: relative;
		&:after {
			content: ' ';
			display: block;
			background: $color-offblack;
			position: absolute;
			top: 0;
			width: 1000000px;
			height: 100%;
			z-index: 10;
		}
	}

	.inner {
		position: relative;
		z-index: 20;
		@extend .clearfix;
		padding-top: 70px;
		padding-bottom: 30px;
		@media (min-width: $screen-sm-min) {
			padding-top: 90px;
			padding-bottom: 50px;
		}
		h2 {
			margin: 0px;
			@include offset(1);
			@include columns(16);
			color: $color-white;
			font-size: 3.1111111111rem;
			line-height: 3.7777777778rem;
		}
		.partner-container {
			@include offset(1);
			
			padding-top: 40px;
			@media (min-width: $screen-sm-min) {
				padding-top: 60px;
			}
		}
		.partner {
			@include columns(16);
			@media (min-width: $screen-sm-min) {
				@include columns(5);
			}
			@media (min-width: $screen-md-min) {
				@include columns(4);
			}
		}
		.logo-container {
			@include offset(1);
			display: none;
			@media (min-width: $screen-sm-min) {
				display: block;
			}
		}
		.logo {
			@include columns(16);
			@media (min-width: $screen-sm-min) {
				@include columns(5);
			}
			@media (min-width: $screen-md-min) {
				@include columns(4);
			}
		}
		h3 {
			font-size: 2.6666666667rem;
			line-height: 3.7777777778rem;
			margin-top: 0px;
			margin-bottom: 20px;
		}
		p {
			color: $color-darkgrey;
			font-size: 2rem;
			line-height: 3.5555555556rem;
			margin-bottom: 25px;
		}
		img {
			margin: 25px 0;
			&.spark {
				margin-top: 5px
			}
			&.confluent {
				margin-top: 10px
			}
		}
	}
}

.community {
	color: $color-darkgrey;
	font-size: 2.6666666667rem;
	font-weight: 500;
	line-height: 3.7777777778rem;

	padding-top: 80px;
	@media (min-width: $screen-sm-min) {
		padding-top: 140px;
	}
	.inner {
		@include columns(16);
		@media (min-width: $screen-sm-min) {
			@include columns(9);
			@include offset(4);
		}

		h2 {
			color: #fff;
			font-size: 2.6666666667rem;
		}
	}
	.icons {
		@include columns(16);
		@media (min-width: $screen-sm-min) {
			@include offset(1);
			@include columns(15);
		}
		margin-top: 60px;
		img {
			float: left;
			@include columns(8);
			@media (min-width: $screen-sm-min) {
				width: auto;
				&.yow {
					margin-top: 14px;
					margin-right: 45px;
				}
			}
		}
	}
}

.clients {
	color: $color-darkgrey;
	font-size: 2.6666666667rem;
	font-weight: 500;
	line-height: 3.7777777778rem;

	padding-top: 80px;
	@media (min-width: $screen-sm-min) {
		padding-top: 140px;
	}
	.inner {
		@include columns(16);
		@media (min-width: $screen-sm-min) {
			@include columns(10);
			@include offset(1);
		}
		h2 {
			color: #fff;
			font-size: 2.6666666667rem;
		}
	}
}

.group-image {
	padding-top: 50px;
	@media (min-width: $screen-sm-min) {
		padding-top: 100px;
	}
	@extend .clearfix;
	.inner {
		@extend .clearfix;
		@include columns(16);
		@media (min-width: $screen-md-min) {
			height: 633px;
		}
	}
	img {
		@extend .clearfix;
		height: auto;
		width:150%;
		transform: translateX(-25%);
		@media (min-width: $screen-md-min) {
			width: auto;
			transform: translateX(0%);
			position: absolute;
			right: 18.75%
		}
	}
}

.work-with-us {
	color: $color-darkgrey;
	font-size: 2.6666666667rem;
	font-weight: 500;
	line-height: 3.7777777778rem;

	padding-top: 80px;
	@media (min-width: $screen-sm-min) {
		padding-top: 170px;
	}
	.inner {
		@include columns(16);
		@media (min-width: $screen-sm-min) {
			@include columns(10);
			@include offset(1);
		}
		h2 {
			color: #fff;
			font-size: 2.6666666667rem;
		}
	}
}








