@mixin container() {
  padding-right: $desktop-gutter-width / 2;
  padding-left: $desktop-gutter-width / 2;
  margin-right: auto;
  margin-left: auto;

  width: $phone-container-width;
  @media (min-width: $screen-sm-min) {
    width: $tablet-container-width;
  }
  @media (min-width: $screen-md-min) {
    width: $laptop-container-width;
  }
  @media (min-width: $screen-lg-min) {
    width: $desktop-container-width;
  }
}

@mixin row() {
  @extend .clearfix;
  margin-right: -($desktop-gutter-width / 2);
  margin-left: -($desktop-gutter-width / 2);
}

@mixin columns($columns) {
  position: relative;
  min-height: 1px;
  float: left;
  width: (100%/$desktop-columns)*$columns;

  padding-right: $desktop-gutter-width;
  padding-left: $desktop-gutter-width;
  @media (min-width: $screen-sm-min) {
    padding-right: $desktop-gutter-width / 2;
    padding-left: $desktop-gutter-width / 2;
  }
}

@mixin offset($columns) {
  margin-left: 0;
  @media (min-width: $screen-sm-min) {
    margin-left: (100%/$desktop-columns)*$columns;
  }
}