/* Webfont: CircularStd-Book */@font-face {
    font-family: 'Circular';
    src: url('./fonts/CircularStd-Book.eot');
    src: url('./fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('./fonts/CircularStd-Book.woff') format('woff'),
        url('./fonts/CircularStd-Book.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}
/* Webfont: CircularStd-Medium */@font-face {
    font-family: 'Circular';
    src: url('./fonts/CircularStd-Medium.eot');
    src: url('./fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/CircularStd-Medium.woff') format('woff'),
        url('./fonts/CircularStd-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}
/* Webfont: CircularStd-Bold */@font-face {
    font-family: 'Circular';
    src: url('./fonts/CircularStd-Bold.eot');
    src: url('./fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/CircularStd-Bold.woff') format('woff'),
        url('./fonts/CircularStd-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}
/* Webfont: CircularStd-Black */@font-face {
    font-family: 'Circular';
    src: url('./fonts/CircularStd-Black.eot');
    src: url('./fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/CircularStd-Black.woff') format('woff'),
        url('./fonts/CircularStd-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}


// book - 400
// med - 500
// bold - 700
// black - 900

html {
	font-size: 9px;
}

body {
    font-size: 2rem;
    font-family: "Circular", serif, Arial, sans-serif;
    font-weight: 400;
    color: $color-white;
}


