---
layout: default
---
<main>
  
  <section class="hero">
    <div class="container">
      <div class="background"></div>
      <div class="row">
        <h1>Simple Machines is a high-impact technology consultancy.</h1>
        <h2>We specialise in data engineering, machine learning and enterprise software development.</h2>
      </div>
    </div>
  </section>
  
  <section class="intro">
    <div class="container">
      <div class="row">
        <div class="inner">
          <h3>Consultancy as partnership</h3>
          <p>We’re a team of passionate, expert practitioners. We partner with our clients to craft high quality, scalable and resilient systems. Our approach is based on transparent partnerships, pragmatism and a desire to deliver real value. As an extension to your team, with a proven track record, we bring years of experience and maturity to every engagement.</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="specialise">
    <div class="container">
      <div class="row">
        <div class="sentence">We specialise in end-to-end delivery - from business case analysis, strategy and architecture, to engineering and integration.</div>
      </div>
      <div class="row specialties">
        <div class="specialty">
          <h3>Data Engineering &amp; Machine Learning</h3>
          <p>Streaming data and real time analytics, data modelling, machine learning and deep learning use cases.</p>
        </div>
        <div class="specialty">
          <h3>Enterprise Software Development</h3>
          <p>Highly resilient, scalable and secure platforms, micro-services and managed services frameworks.</p>
        </div>
        <div class="specialty">
          <h3>Engineering Research</h3>
          <p>Researching, ideating, validating, architecting and engineering for web and mobile applications.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="partners">
    <div class="container">
      <div class="inner">
        <div class="row">
          <h2>Our Partners</h2>
        </div>
        <div class="partner-container">
          <div class="row">
            <div class="partner">
              <h3>Lightbend</h3>
              <p>We are certified Lightbend select system integrator partners and certified trainers. We architect and engineer systems in Scala, Akka and Play. We also provide certified Lightbend training courses in Scala, Akka, Play and Spark.</p>
              <div class="logo">
                <img src="{{ site.url }}/images/scala.png" class="scala" />
                <img src="{{ site.url }}/images/akka.png" class="akka" />
                <img src="{{ site.url }}/images/spark.png" class="spark" />
              </div>
            </div>
            <div class="partner">
              <h3>Confluent</h3>
              <p>We are Confluent partners and architect, integrate and engineer streaming data systems with Kafka. We also provide fast track training in Kafka for our clients and the broader engineering community.</p>
              <div class="logo">
                <img src="{{ site.url }}/images/kafka.png" class="kafka" />
                <img src="{{ site.url }}/images/confluent.png" class="confluent" />
              </div>
            </div>
            <div class="partner">
              <h3>Amazon</h3>
              <p>We are AWS partners and architect, engineer and deploy systems on AWS. We provide AWS-certified DevOps consultants and architects who design, engineer and deploy systems within the AWS eco-system.</p>
              <div class="logo">
                <img src="{{ site.url }}/images/aws.png" class="aws" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="community">
    <div class="container">
      <div class="row">
        <div class="inner">
          <h2>Community</h2>
          <p>We actively engage with and contribute to the broader technology community. Our team regularly contributes to open-source projects, provides training, speaks at conferences and writes blog posts and white papers.</p>
          <p>We are proud sponsors of Lambda Jam, Yow! Connected and CTO Summit.</p>
        </div>
      </div>
      <div class="row">
        <div class="icons">
          <img src="{{ site.url }}/images/yow.png" alt="" class="yow" />
        </div>
      </div>
    </div>
  </section>

  <section class="clients">
    <div class="container">
      <div class="row">
        <div class="inner">
          <h2>Clients</h2>
          <p>As well as partnering with leading enterprises and government organisations we work with well funded startups and SME’s with challenging problems.</p>
        </div>
      </div>
    </div>
  </section>

  <div class="container group-image">
    <div class="inner">
      <img src="{{ site.url }}/images/group.jpg" alt="">
    </div>
  </div>

  <section class="work-with-us">
    <div class="container">
      <div class="row">
        <div class="inner">
          <h2>Work with us</h2>
          <p>All our work is via referral, we’re proud of that. Get in touch if you’d like to discuss a project or an overview of our credentials and relevant case studies.</p>
        </div>
      </div>
    </div>
  </section>

</main>
